.card {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.imageWrapper {
  position: relative;
  height: 330px;
  overflow: hidden;
  border-radius: 30px;
  margin-bottom: 15px;
}

.image {
  object-fit: cover;
}

.plusIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: #61b405;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  transition: background-color var(--transition-fast);
}

.card:hover .plusIcon {
  background-color: #02247b;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  line-height: normal;
  margin: 0;
}

.card:hover .title {
  color: #61b405;
}

@media (max-width: 768px) {
  .imageWrapper {
    border-radius: 20px;
    height: 220px;
    margin-bottom: 10px;
  }

  .plusIcon {
    width: 40px;
    height: 40px;
  }

  .title {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
